html, body {
    margin: 0;
    height: 100vh;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #272727;
    background: url(../images/bg.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 20px 0;
}

h1 {
    font-size: 2em;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.7em;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}

p {
    font-weight: 300;
    margin: 12px 0;
    font-size: 14px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: white;
    text-decoration: none;
    transition: .25s color linear;
}

a:hover, a:focus, a:active {
    color: #ff5858;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.page-wrapper {
    margin-left: 15em;
    position: absolute;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: calc(100% - 15em);
    -webkit-transition: .25s all linear;
    -moz-transition: .25s all linear;
    -o-transition: .25s all linear;
    transition: .25s all linear;
}

.content {
    margin: auto;
    padding: 20px;
    min-height: 100vh;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.ng-enter {
    animation: slideInRight .4s both ease-in;
    z-index: 8888;
}

.ng-leave {
    animation: slideOutLeft .4s both ease-in;
    z-index: 9999;
}

.sidebar {
    background-color: rgba(8,16,36,.7);
    width: 15em;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: .25s all linear;
    -moz-transition: .25s all linear;
    -o-transition: .25s all linear;
    transition: .25s all linear;
}

.sidebar .wrapper {
    padding: 10%;
}

.sidebar h1,
.sidebar h2 {
    color: white;
    margin: 0;
    padding: 0;
}

.sidebar h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255,255,255,.15);
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 1;
}

.sidebar h2 {
    font-size: 15px;
    font-weight: 300;
    color: #ccc;
}

.social {
    list-style: none;
}

.social-icon {
    display: inline-block;
    padding: 10px 15px 10px 0;
}

.social-icon .fa {
    font-size: 1.4em;
    color: #ff5858;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 100vw;
        position: static;
    }

    .sidebar.close {
        height: 60px;
    }

    .sidebar.open {
        height: 110px;
    }

    .sidebar .portrait {
        width: auto;
        height: 60px;
        float: left;
    }

    .sidebar .wrapper {
        padding: 15px;
        float: left;
    }

    .sidebar h1 {
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 0 none;
        margin-bottom: 3px;
        padding-bottom: 0px;
    }

    .sidebar h2 {
        font-size: 11px;
    }

    .sidebar.close .email,
    .sidebar.close .social {
        opacity: 0;
        -webkit-transition: .25s linear opacity;
        -moz-transition: .25s linear opacity;
        -o-transition: .25s linear opacity;
        transition: .25s linear opacity;
    }

    .sidebar.open .email,
    .sidebar.open .social {
        opacity: 1;
    }

    .sidebar .email {
        position: absolute;
        left: 10px;
        top: 63px;
    }

    .sidebar .social {
        position: absolute;
        right: 10px;
        top: 50px;
    }

    .social-icon {
        display: inline-block;
        padding: 10px 15px 10px 0;
    }

    .social-icon .fa {
        font-size: 1.4em;
    }

    .menu-icon {
        display: block;
        float: right;
        font-size: 2em;
        opacity: .3;
        padding: 15px;
        -webkit-transition: .25s all linear;
        -moz-transition: .25s all linear;
        -o-transition: .25s all linear;
        transition: .25s all linear;
    }

    .menu-icon:hover {
        opacity: 1;
        cursor: pointer;
    }

    .page-wrapper {
        margin-left: 0;
        width: 100%;
    }
}

.btn {
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    width: 9em;
    margin: 5px 10px;
    transition: .25s all linear;
}

.btn:hover {
    border-color: #ff5858;
    color: #ff5858;
}

.btn .fa {
    font-size: .8em;
}

.btn-left .fa {
    padding-right: 5px;
}

.btn-right .fa {
    padding-left: 5px;
}

@keyframes fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100%   { opacity: 1; }
}

@-moz-keyframes fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100%   { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100%   { opacity: 1; }
}

@-ms-keyframes fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100%   { opacity: 1; }
}

@-o-keyframes fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

@-moz-keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

@-webkit-keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

@-ms-keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

@-o-keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

@-moz-keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

@-webkit-keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

@-ms-keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

@-o-keyframes slideInRight {
    from { transform:translateX(100%); }
    to { transform: translateX(0); }
}

/* LIST */

#list {
    max-width: 1200px;
}

.works-title {
    color: white;
    text-align: center;
}

.works-title h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 1;
}

.works-title p:after {
    content: "";
    border-bottom: 3px solid white;
    text-align: center;
    display: block;
    width: 100px;
    margin: 20px auto;
}

.works-title p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5px;
    color: #ff5858;
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.work {
    width: 30.3333%;
    margin: 0 1.5%;
    margin-bottom: 30px;
    flex-grow: 0;
    position: relative;
    z-index: 1;
    overflow-y: hidden;
}

@media screen and (max-width: 999px) {
    .work {
        width: 47%;
    }
}

@media screen and (max-width: 650px) {
    .work {
        width: 100%;
    }
}

.work .thumb {
    border-radius: 4px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: .5s all ease-in-out;
}

.work-desc {
    display: block;
    transition: .3s all ease-in-out;
    background-color: rgba(0,0,0,.5);
    padding: 12px;
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    opacity: 0;
    color: white;
    text-decoration: none;
    bottom: -100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.work a {
    display: block;
}

.work:hover .work-desc {
    opacity: 1;
    bottom: 0px;
}

.work:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.work-desc h2 {
    font-size: 1.2em;
}

.work-desc h2, .work-desc p {
    margin: 5px 0;
    padding: 0;
}

/* PROJECT */

#project {
    max-width: 800px;
}

#project.content {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.project {
    background-color: rgba(32,42,63,.65);
    width: 70%;
}

.project-info {
    padding: 30px;
}

.project-info h1 {
    margin-top: 0;
}

.gallery {
    width: 30%;
}

.gallery ul.images {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-image {
    padding: 0 0 20px 20px;
}

.gallery-image img {
    display: block;
    border-radius: 4px;
}

.project-nav {
    text-align: center;
}

@media screen and (max-width: 750px) {
    #project.content {
        flex-direction: column;
    }

    .project,
    .gallery {
        width: 100%;
    }

    .gallery-image {
        display: block;
        width: 25%;
        padding: 20px 10px;
        float: left;
    }
}
